<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/main-head') %>

<body>
    <%- include ('../partials/main-header') %>
    <main>
        <%- body %>
    </main>
    <%- include ('../partials/footer') %>
</body>

</html>